
h4 {
    color: #015692;
}

pre {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: .5rem 0 .5rem 0;
    /* width: fit-content;
    max-width: 100%; */
    padding: 0;
    padding-top: 3px;
}

/* code {
    word-wrap: break-word;
} */

.card-danger {
    border: 1px solid #bb1515;
    border-radius: 4px;
    border-left: 5px solid #bb1515;
    padding: 1rem;
    background-color: #ffd5d5;
    color: #bb1515;
    /* width: fit-content; */
}

.card-warning {
    border: 1px solid #eeb600;
    border-radius: 4px;
    border-left: 5px solid #eeb600;
    padding: 1rem;
    background-color: #feffc6;
    color: #7c4b02;
    /* width: fit-content; */
}

.table-container {
    border: 1px solid lightgray;
    border-radius: 4px;
    overflow: hidden;
    width: fit-content;
}
.custom-table td {
    padding: .5rem 1rem;
    background-color: #f8f8f8;
}
.custom-table tr:not(:last-child) { 
    border-bottom: 1px solid lightgray;
}
.custom-table td:not(:last-child) { 
    border-right: 1px solid lightgray;
}


/* .modal {
    position: 99999 !important;
} */


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.page-container {
    min-width: 100vw;
    margin: 0;
    padding: 0 1rem 0 0;
    transition: all 0.3s;
    display: grid;
    grid-auto-flow: column;
    min-height: calc(100vh - 3.4rem);
    /* overflow-x: hidden; */
}

.sidebar {
    position: relative;
    width: 200px;
    padding: 0;
    margin: 0;    
    left: 0;
    overflow-x: hidden;
    background-color: #6c757d;
}

.mobile-sidebar {
    z-index: 3;
    position: fixed;
    width: 200px;
    padding: 0;
    margin: 0;    
    transition: all 0.3s;
    top: 0;
    left: -200px;
    overflow-x: hidden;
    background-color: #6c757d;
    height: 100vh;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #6c757d;
}

.overlay {
    z-index: 2;
}


.mobile-sidebar.active {
    left: 0;
}

.main-content {
    position: absolute;
    width: calc(100% - 200px);
    /* transition: all 0.3s; */
    padding: 0;
    margin: 0;
    left: 200px;
    top: 3.4rem;
    padding-top: .5rem;
}
/* .main-content.full {
    min-width: 100vw;
    left: 0;
} */

.main-content .container {
    padding-left: 1rem;
    min-height: calc(100vh - 5rem);
    /* transition: all 0.3s; */
}

.botonera {
    text-align: right;
}

@media only screen and (max-width: 576px) {
    
    .botonera {
        text-align: left;
        padding-left: .5rem;
    }

    .sidebar {
        z-index: 2;
    }
    
    .main-content {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        left: 0;
    }
    /* .sidebar.active .main-content {
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        left: 0;
    }
    .sidebar.active .main-content .container{
        width: 100%;
        padding-left: 1rem;
        margin-right: 0;
    }

    .main-content {
        z-index: 1;
    }

    .modal {
        display:grid;
        z-index: 1080 !important;
    } */

}


.dismiss {
    cursor: pointer;
}

.dismiss:hover {
    color: white;
}

.dismiss span {
    top: 0;
    padding-right: 7px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    /* z-index: 998; */
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: .7;
}

.list-group {
    border-radius: 0;
}

.list-group-flush::-webkit-scrollbar {
    display: none;
}

.list-group-flush {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-header {
    padding: 1rem 1rem 0rem 1rem;
    border-bottom: 1px solid gray;
    color: white;
    font-size: 125%;
    padding-bottom: .75rem;
}
.sidebar-header span {
    margin: 5px;
}

.sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid gray; */
}

.list-group ul p {
    color: #fff;
    padding: 10px;
}

.list-group ul a.expandable {
    color: rgb(233, 233, 233);
}

.list-group ul li a {
    padding: .5rem 1rem;
    font-size: 1rem;
    display: block;
    color: lightgray;
    text-decoration: none;
}

.list-group ul li a:hover {
    color: white;
    /* background: #585858; */
}

.list-group ul li .fa-star.nofav {
    left: .5rem;
    margin-top: .2rem;
    font-size: 1rem;
    display: inline-block;
    color: transparent;
}
.list-group ul li .fa-star.fav {
    left: .5rem;
    margin-top: .2rem;
    font-size: 1rem;
    display: inline-block;
    color: darkgray;
}
.list-group ul li .fa-star.nofav:hover {
    color: lightgray;
}
.list-group ul li .fa-star.fav:hover {
    color: #eaeaea;
}

.list-group ul li .fa-trash.fav {
    left: .5rem;
    margin-top: .2rem;
    font-size: 1rem;
    display: inline-block;
    color: transparent;
}
.list-group ul li .fa-trash.fav:hover {
    color: lightgray;
}

.sidebar .fa-thumb-tack {
    color: gray;
    position:absolute;
    top:.5rem;
    right:.5rem;
}
.sidebar .fa-thumb-tack:hover {
    color: lightgray;
}

.sidebaritem:hover {
    background-color: #596169;
}

.sidebaritem.active a {
    color: #75cff8;
}
.sidebaritem.active a:hover {
    color: #84d7fd;
}

/* .mobile-sidebar * {
    font-size: 1.25rem;
}

.mobile-sidebar .list-group ul li a {
    font-size: 1.15rem;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 2rem !important;
    /* background: #6d7fcc; */
}

ul ul a.show {
    font-size: 0.9em !important;
    padding-left: 1rem !important;
    text-transform: capitalize;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    /* background: #6d7fcc !important; */
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

  
main {
    margin: 0;
    padding: 0;
    /* padding-bottom: 1.5rem; */
}

